#!/usr/bin/env bash

action=""

if [[ $# != 0 ]]; then
    action=$1
fi

if [[ -z "${action}" ]]; then
    ansible-playbook \
        --inventory {{ playbook_dir }}/inventory \
        --extra-vars="username={{ username }}" \
        {{ playbook_dir }}/playbook.yml
    exit 0
fi

readonly playbook="{{ playbook_dir }}/playbooks/${action}.yml"

if [[ ! -f "${playbook}" ]]; then
    readonly actions="$(ls {{ playbook_dir }}/playbooks | sed -e 's/\..*$//' | xargs)"
    echo "Unsupported action '${action}'. Possible are: ${actions}."
    exit 1
fi

ANSIBLE_ROLES_PATH="{{ playbook_dir }}/roles" \
ansible-playbook \
    --inventory {{ playbook_dir }}/inventory \
    --extra-vars="username={{ username }}" \
    "${playbook}"
