{% for ssh_host in ssh_hosts %}
Host {{ ssh_host.alias }}
    Hostname {{ ssh_host.hostname }}

{% endfor %}

Host *
    user {{ ssh_default_user }}
    ForwardAgent {{ ssh_forward_agent }}
    #ControlMaster auto
    #ControlPersist 5
    #ControlPath ~/.ssh/ssh_mux_%h_%p_%r
