#!/usr/bin/env bash

# Managed by Ansible. Don't change this file directly.

{% for option in shell_options %}
shopt -s {{ option }};

{% endfor %}


{% if shell_completions | length > 0 %}
# Bash completions

declare -a completions=(
    {% for completion in shell_completions %}
    "{{ completion }}"
    {% endfor %}
)

for completion in "${completions[@]}"; do
    completion_file=/usr/share/bash-completion/completions/${completion}
    if [[ -f "${completion_file}" ]]; then
        source $completion_file
    fi
done
unset completion;
unset completions;

{% endif %}

# Add tab completion for SSH hostnames based on ~/.ssh/config, ignoring wildcards
[ -e "$HOME/.ssh/config" ] && complete -o "default" -o "nospace" -W "$(grep "^Host" ~/.ssh/config | grep -v "[?*]" | cut -d " " -f2- | tr ' ' '\n')" scp sftp ssh;

{% if shell_path %}
# PATH variable modifications

export PATH="$PATH{%- for directory in shell_path%}:{{ directory }}{% endfor %}"
{% endif %}

{% if user_environment %}
# User-defined environment variables

{% for key, value in user_environment.items() %}
export {{ key }}="{{ value }}";

{% endfor %}
{% endif %}

{% if user_aliases %}
# User defined aliases

{% for alias_name, alias_value in user_aliases.items() %}
alias {{ alias_name }}="{{ alias_value }}"

{% endfor %}
{% endif %}


# Setup a red prompt for root and a green one for users.
readonly normal="\\[\\e[0m\\]"
readonly red="\\[\\e[1;31m\\]"
readonly green="\\[\\e[1;32m\\]"

if [[ $EUID == 0 ]] ; then
  PS1="[${red}\\u${normal}@\\h \\W]${red}# ${normal}"
else
  PS1="[${green}\\u${normal}@\\h \\W]${green}$ ${normal}"
fi

export PS1

function server() {
	local port="${1:-8000}";
	sleep 1 && open "http://localhost:${port}/" &
	# Set the default Content-Type to `text/plain` instead of `application/octet-stream`
	# And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}

{% if setup_ssh_agent %}
eval $(ssh-agent) &> /dev/null
ssh-add &> /dev/null
{% endif %}

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi
